server:
  port: 8083

spring:
  application:
    name: notification-service

  mail:
    host: smtp.example.com
    port: 587
    username: your_user
    password: your_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  mail:
    from: no-reply@example.com